<header class="">
  <nav>
    <a href="/" class="logo" id="logo">
      <div class="logo-image">
        <img src="images/logo-icon.svg" alt="" />
      </div>
      <div class="logo-text">
        <h1 class="english">Nujum Al Miad Contracting Est. (NMC)</h1>
        <h1 class="arabic">مؤسسة نجوم الميعاد للمقاولات</h1>
      </div>
    </a>
    <div class="nav-menus">
      <ul class="nav-icons">
        <li>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </li>
      </ul>

      <ul class="nav-list">
        <li class="list-item"><a href="/">Home</a></li>
        <li class="list-item">
          <a href="/Services">Services</a>
          <ul class="dropdown">
            <li><a href="">Construction</a></li>
            <li><a href="">Manpower Supply</a></li>
            <li><a href="">Outsourcing</a></li>
            <li><a href="">Overseas Recruitment</a></li>
          </ul>
        </li>
        <li class="list-item"><a href="/Contact">Contact</a></li>
        <li class="list-item"><a href="/About">About</a></li>
      </ul>
    </div>
  </nav>
</header>
