<header class="">
  <%- include('mkd-header') %>
  <nav>
    <a href="/" class="logo" id="logo">
      <div class="logo-image">
        <img src="images/logo1.svg" alt="" />
      </div>
    </a>
    <div class="nav-menus">
      <ul class="nav-list">
        <li class="list-item"><a href="/">Home</a></li>
        <li class="list-item">
          <a href="/Services">
            <span>Services</span>
            <span class="caret"><img src="/icons/caret-down.svg" alt="" /></span>
          </a>
          <ul class="dropdown">
            <li><a href="">Construction</a></li>
            <li><a href="">Manpower Supply</a></li>
            <li><a href="">Outsourcing</a></li>
            <li><a href="">Overseas Recruitment</a></li>
          </ul>
        </li>
        <li class="list-item"><a href="/Contact">Contact</a></li>
        <li class="list-item"><a href="/About">About</a></li>
      </ul>
      <ul class="nav-icons">
        <h3>Follow Us</h3>
        <li>
          <a href="#">
            <span>
              <img src="/icons/linkedin.svg" alt="" />
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>
              <img src="/icons/facebook.svg" alt="" />
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<script src="/js/header.js"></script>
