<div class="mkd-wrapper">
  <div class="mkd-contents">
    <div class="contact">
      <div class="office-hours">
        <i class="fa-solid fa-clock"></i>
        <span>09:00 - 17:00</span>
      </div>
      <div class="address">
        <i class="fa-solid fa-location-dot"></i>
        <span>
          Flat 8, 2nd Floor, Riyadh Street Thouqba, Al Khobar 31952, Kingdom of
          Saudi Arabia.</span
        >
      </div>
      <div class="call">
        <i class="fa-solid fa-phone"></i>
        <span>00966 567710596</span>
      </div>
      <div class="email">
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:info@nujumalmiad.com">info@nujumalmiad.com</a>
      </div>
    </div>
  </div>
</div>
