<div class="container">
  <input type="radio" name="group" id="slide1" checked />
  <input type="radio" name="group" id="slide2" />
  <input type="radio" name="group" id="slide3" />
  <input type="radio" name="group" id="slide4" />

  <div class="dots">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
    <label for="slide4"></label>
  </div>

  <div class="slider">
    <div class="slide" for="slide1" style="--img: url('/images/img1.jpg')">
      <div class="content">
        <h1>Slide One</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nam
          totam. Numquam quae architecto quidem excepturi aspernatur natus fuga,
          facilis accusamus similique. Eaque blanditiis sed dolorem quos porro?
          Explicabo quidem a suscipit autem porro fugit illo sed! Expedita fugit
          molestias voluptate sapiente enim accusamus. Debitis ullam at
          doloribus reiciendis eum, expedita laudantium est tempora adipisci
          natus et eveniet enim eos blanditiis, accusamus sed. Officia,
          molestias dolor? Architecto cumque eius unde rerum sapiente voluptates
          laborum. Ducimus sed assumenda ab vitae nemo aliquid molestiae error
          impedit. Velit ducimus deleniti fugiat delectus molestiae, aliquam
          excepturi sequi debitis dolor sed ab doloribus, beatae ex.
        </p>
      </div>
    </div>
    <div
      class="slide"
      for="slide2"
      style="--img: url('/images/img2.jpg')"
    > <div class="content">
        <h1>Slide Two</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nam
          totam. Numquam quae architecto quidem excepturi aspernatur natus fuga,
          facilis accusamus similique. Eaque blanditiis sed dolorem quos porro?
          Explicabo quidem a suscipit autem porro fugit illo sed! Expedita fugit
          molestias voluptate sapiente enim accusamus. Debitis ullam at
          doloribus reiciendis eum, expedita laudantium est tempora adipisci
          natus et eveniet enim eos blanditiis, accusamus sed. Officia,
          molestias dolor? Architecto cumque eius unde rerum sapiente voluptates
          laborum. Ducimus sed assumenda ab vitae nemo aliquid molestiae error
          impedit. Velit ducimus deleniti fugiat delectus molestiae, aliquam
          excepturi sequi debitis dolor sed ab doloribus, beatae ex.
        </p>
      </div></div>
    <div
      class="slide"
      for="slide3"
      style="--img: url('/images/img3.jpg')"
    > <div class="content">
        <h1>Slide Three</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nam
          totam. Numquam quae architecto quidem excepturi aspernatur natus fuga,
          facilis accusamus similique. Eaque blanditiis sed dolorem quos porro?
          Explicabo quidem a suscipit autem porro fugit illo sed! Expedita fugit
          molestias voluptate sapiente enim accusamus. Debitis ullam at
          doloribus reiciendis eum, expedita laudantium est tempora adipisci
          natus et eveniet enim eos blanditiis, accusamus sed. Officia,
          molestias dolor? Architecto cumque eius unde rerum sapiente voluptates
          laborum. Ducimus sed assumenda ab vitae nemo aliquid molestiae error
          impedit. Velit ducimus deleniti fugiat delectus molestiae, aliquam
          excepturi sequi debitis dolor sed ab doloribus, beatae ex.
        </p>
      </div></div>
    <div
      class="slide"
      for="slide4"
      style="--img: url('/images/img4.jpg')"
    > <div class="content">
        <h1>Slide Four</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, nam
          totam. Numquam quae architecto quidem excepturi aspernatur natus fuga,
          facilis accusamus similique. Eaque blanditiis sed dolorem quos porro?
          Explicabo quidem a suscipit autem porro fugit illo sed! Expedita fugit
          molestias voluptate sapiente enim accusamus. Debitis ullam at
          doloribus reiciendis eum, expedita laudantium est tempora adipisci
          natus et eveniet enim eos blanditiis, accusamus sed. Officia,
          molestias dolor? Architecto cumque eius unde rerum sapiente voluptates
          laborum. Ducimus sed assumenda ab vitae nemo aliquid molestiae error
          impedit. Velit ducimus deleniti fugiat delectus molestiae, aliquam
          excepturi sequi debitis dolor sed ab doloribus, beatae ex.
        </p>
      </div></div>
  </div>
</div>
