<div class="img-slider">
  <div class="slide active">
    <img src="/images/img1.jpg" alt="" />
    <div class="content">
      <h2>Slide 01</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        repellendus, amet autem iure facere aliquid! Animi officiis aliquid
        deserunt. Eum hic nostrum optio? Corrupti laborum voluptas accusantium
        similique sunt facere iste dolorum? Repellat quas est beatae ab odio
        voluptate explicabo ex, quod modi earum velit, cum, distinctio
        voluptatum nesciunt blanditiis? Unde reprehenderit sapiente molestias et
        excepturi dolor fugiat, nulla consequuntur modi veritatis corrupti
        voluptas tenetur numquam voluptatum. Culpa saepe architecto ullam
        pariatur asperiores nulla impedit et, quibusdam consectetur
        perspiciatis, adipisci, minus eligendi dolor explicabo magni assumenda
        illo fugit necessitatibus praesentium eius soluta numquam excepturi
        veritatis. Repellat optio rerum voluptatibus exercitationem!
      </p>
    </div>
  </div>
  <div class="slide">
    <img src="/images/img2.jpg" alt="" />
    <div class="content">
      <h2>Slide 02</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        repellendus, amet autem iure facere aliquid! Animi officiis aliquid
        deserunt. Eum hic nostrum optio? Corrupti laborum voluptas accusantium
        similique sunt facere iste dolorum? Repellat quas est beatae ab odio
        voluptate explicabo ex, quod modi earum velit, cum, distinctio
        voluptatum nesciunt blanditiis? Unde reprehenderit sapiente molestias et
        excepturi dolor fugiat, nulla consequuntur modi veritatis corrupti
        voluptas tenetur numquam voluptatum. Culpa saepe architecto ullam
        pariatur asperiores nulla impedit et, quibusdam consectetur
        perspiciatis, adipisci, minus eligendi dolor explicabo magni assumenda
        illo fugit necessitatibus praesentium eius soluta numquam excepturi
        veritatis. Repellat optio rerum voluptatibus exercitationem!
      </p>
    </div>
  </div>
  <div class="slide">
    <img src="/images/img3.jpg" alt="" />
    <div class="content">
      <h2>Slide 03</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        repellendus, amet autem iure facere aliquid! Animi officiis aliquid
        deserunt. Eum hic nostrum optio? Corrupti laborum voluptas accusantium
        similique sunt facere iste dolorum? Repellat quas est beatae ab odio
        voluptate explicabo ex, quod modi earum velit, cum, distinctio
        voluptatum nesciunt blanditiis? Unde reprehenderit sapiente molestias et
        excepturi dolor fugiat, nulla consequuntur modi veritatis corrupti
        voluptas tenetur numquam voluptatum. Culpa saepe architecto ullam
        pariatur asperiores nulla impedit et, quibusdam consectetur
        perspiciatis, adipisci, minus eligendi dolor explicabo magni assumenda
        illo fugit necessitatibus praesentium eius soluta numquam excepturi
        veritatis. Repellat optio rerum voluptatibus exercitationem!
      </p>
    </div>
  </div>
  <div class="slide">
    <img src="/images/img4.jpg" alt="" />
    <div class="content">
      <h2>Slide 04</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        repellendus, amet autem iure facere aliquid! Animi officiis aliquid
        deserunt. Eum hic nostrum optio? Corrupti laborum voluptas accusantium
        similique sunt facere iste dolorum? Repellat quas est beatae ab odio
        voluptate explicabo ex, quod modi earum velit, cum, distinctio
        voluptatum nesciunt blanditiis? Unde reprehenderit sapiente molestias et
        excepturi dolor fugiat, nulla consequuntur modi veritatis corrupti
        voluptas tenetur numquam voluptatum. Culpa saepe architecto ullam
        pariatur asperiores nulla impedit et, quibusdam consectetur
        perspiciatis, adipisci, minus eligendi dolor explicabo magni assumenda
        illo fugit necessitatibus praesentium eius soluta numquam excepturi
        veritatis. Repellat optio rerum voluptatibus exercitationem!
      </p>
    </div>
  </div>
  <div class="navigation">
    <div class="btn active"></div>
    <div class="btn"></div>
    <div class="btn"></div>
    <div class="btn"></div>
  </div>
</div>
