<div class="img-slider">
  <div class="slide active">
    <img src="/images/img1.jpg" alt="" />
    <div class="content">
      <h2>Expert Mechanical Maintenance</h2>
      <p>
        Ensure your machinery runs smoothly with our comprehensive mechanical
        maintenance services. Experience minimal downtime and maximum
        efficiency.
      </p>
      <div class="buttons">
        <a href="#">Learn More</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="slide">
    <img src="/images/img2.jpg" alt="" />
    <div class="content">
      <h2>Reliable Electrical Maintenance</h2>
      <p>
        Keep your electrical systems safe and efficient with our top-notch
        electrical maintenance solutions. Trust our expertise for uninterrupted
        operations.
      </p>
      <div class="buttons">
        <a href="#">Learn More</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="slide">
    <img src="/images/img3.jpg" alt="" />
    <div class="content">
      <h2>Professional Contracting Services</h2>
      <p>
        From project planning to execution, our contracting services cover all
        your needs. Delivering quality and reliability every step of the way.
      </p>
      <div class="buttons">
        <a href="#">Learn More</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="slide">
    <img src="/images/img4.jpg" alt="" />
    <div class="content">
      <h2>Skilled & Unskilled Manpower Supply</h2>
      <p>
        Access a diverse pool of skilled professionals to meet your workforce
        demands. Reliable and ready to contribute to your success.
      </p>
      <div class="buttons">
        <a href="#">Learn More</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="slide">
    <img src="/images/img3.jpg" alt="" />
    <div class="content">
      <h2>Comprehensive Facility Management</h2>
      <p>
        Enhance your facility’s performance with our tailored management
        services. Efficient, effective, and customized to your needs. of the
        way.
      </p>
      <div class="buttons">
        <a href="#">Learn More</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="navigation">
    <div class="btn active"></div>
    <div class="btn"></div>
    <div class="btn"></div>
    <div class="btn"></div>
    <div class="btn"></div>
  </div>
</div>
