// Font Families
$rubik-font: "Rubik", sans-serif;
$montserrat-font: "Montserrat", sans-serif;
$poppins-font: "Poppins", sans-serif;
$bodoni-font: "Libre Bodoni", serif;
// Colors
$primary: #825107;
$secondary: #da880a;
$success: #f1e5c3;
$darkblue:#172541;
$black: #000000;
$gray-44: #444444;
$gray-55: #555555;
$gray-66: #666666;
$gray-77: #777777;
$gray-88: #888888;
$gray-99: #999999;

// font size
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;
