@import "variables";
header {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.05);
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  backdrop-filter: blur(10px); /* Blur effect */
  font-family: $poppins-font;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  // position: -webkit-sticky; 
  position: fixed;
  top: 0;
  z-index: 10;
  nav {
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    a.logo {
      display: flex;
      align-items: center;
      text-decoration: none;

      div.logo-image {
        width: 60px;
        height: 60px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      div.logo-text {
        color: $primary;
        font-size: 14px;
        h1.arabic {
          text-align: center;
        }
      }
    }
    
    div.nav-menus {
      display: flex;
      flex-direction: column;
      gap: 20px;
      ul.nav-icons {
        display: flex;
        margin-left: auto;
        gap: 20px;
      }
      ul {
        display: flex;
        list-style: none;
        gap: 20px;
        li {
          position: relative;
          a {
            text-decoration: none;
            font-size: $font-16;
            color: rgba(255, 255, 255, 0.5);
          }
          ul.dropdown{
            position: absolute;
            top: 40px;
            left: 0;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
