<header class="about-header">
  <img src="/images/about-img.jpg" alt="About Us" />
  <div class="header-content">
    <h1>About Us</h1>
    <p>
      We are dedicated to providing the best services in contracting and
      manpower supply.
    </p>
  </div>
</header>
<main class="about-content">
  <section>
    <p>
      <!-- Long about description here -->
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </section>
  <section class="services">
    <h2>Our Services</h2>
    <div class="services-grid">
      <div class="service-card" style="background-image: url('/images/c.jpg');">
        <div class="card-content">
          <h3>Construction</h3>
        </div>
        <i class="fa fa-expand enlarge-icon"></i>
      </div>
      <div class="service-card" style="background-image: url('/images/mm.jpg');">
        <div class="card-content">
          <h3>Mechanical Maintenance</h3>
        </div>
        <i class="fa fa-expand enlarge-icon"></i>
      </div>
      <div class="service-card" style="background-image: url('/images/em.jpg');">
        <div class="card-content">
          <h3>Electrical Maintenance</h3>
        </div>
        <i class="fa fa-expand enlarge-icon"></i>
      </div>
      <div class="service-card" style="background-image: url('/images/mp.jpg');">
        <div class="card-content">
          <h3>Contracting and Manpower Supply</h3>
        </div>
        <i class="fa fa-expand enlarge-icon"></i>
      </div>
      <div class="service-card" style="background-image: url('/images/fm.jpg');">
        <div class="card-content">
          <h3>Facility Management</h3>
        </div>
        <i class="fa fa-expand enlarge-icon"></i>
      </div>
    </div>
  </section>
</main>

<div class="modal" id="imageModal">
    <span class="close">&times;</span>
    <div class="modal-content">
      <img class="modal-image" src="" alt="Enlarged Service">
      <div class="modal-controls">
        <span class="prev">&#10094;</span>
        <span class="next">&#10095;</span>
      </div>
    </div>
  </div>